<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>

    <h1>📦 Asset Sync NEUROSIS</h1>
    <p>Total assets: {{assets | length}} </p>

    <table>
        <tr>
            <th>Assets</th>
            <th>Materials</th>
            <th>Path</th>
            <th>Timestamp</th>
        </tr>

        {% for asset in assets %}
        <tr class="asset-table">
            <td>{{asset.asset_name}}</td>
            <td>{{asset.asset_material or "N/A" }}</td>
            <td>{{asset.file_path or '-' }}</td>
            <td>{{asset.timestamp or "N/A" }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>